/* Task Card styles */
.task-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  
    .card-content {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }
  
    .title-status {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 1rem;
  
      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #333;
        margin: 0.5rem 0;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .status {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: capitalize;
        text-wrap: nowrap;
  
        &.pending {
          background-color: #fce5e5;
          color: #d9534f;
        }
  
        &.in-progress {
          background-color: #ffebc6;
          color: #f0ad4e;
        }
  
        &.completed {
          background-color: #d4edda;
          color: #28a745;
        }
      }
    }
  
    p {
      font-size: 1rem;
      color: #555;
      margin: 0 1rem 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      height: 2.5rem;
    }
  
    .due-date {
      font-size: 0.875rem;
      color: #777;
      text-wrap: nowrap;
    }
  
    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
  
      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 0.875rem;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: #f4f4f4;
        }
  
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 87, 255, 0.2);
        }
      }
  
      /* Edit button */
      button:first-child {
        color: #0057ff;
  
        &:hover {
          background-color: rgba(0, 87, 255, 0.1);
        }
      }
  
      /* Delete button */
      button:last-child {
        color: #d9534f;
  
        &:hover {
          background-color: rgba(217, 83, 79, 0.1);
        }
      }
    }
  }
  
  /* Responsive adjustments for screens below 768px */
  @media (max-width: 700px) {
    .task-card {
      flex-direction: column;
  
      .card-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        align-items: center;
  
        p, .due-date {
          margin: 0;
        }
      }
  
      .actions {
        flex-direction: row;
        margin-top: 15px;
        width: 100%;
        justify-content: space-around;
      }
    }
  }
  